.restaurant-login-bg {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f8;
}

.restaurant-login-card {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: 500;
}

.form-group input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #de2d68;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
}

.bottom-text {
  text-align: center;
  margin-top: 10px;
}
